global:
  scrape_interval: 5s
  evaluation_interval: 5s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

# Carregar regras de alerta
rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: 'guardian-api'
    static_configs:
      - targets: ['guardian-api:8000']
    metrics_path: '/metrics'
    
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']
